<p id="notice"><%= notice %></p>

<style>
    table, th, td {
        border: none;
        border-collapse: collapse;
    }
    th {
        padding: 5px;
        text-align: left;
    }
    td {
        padding: 5px;
        text-align: center;
    }

</style>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<p>
  <table>
  <tr>
    <th>Appointments</th>
  </tr>
  <tr>
    <th>Date</th>
    <th>Days until</th>
  </tr></br>
  <tr>
  <% @specialist.appointments.each do |appointment| %>
        <% if appointment.appointment_date >= Time.now %>
            <td><%= appointment.appointment_date %></td>
            <td><%= (appointment.appointment_date.to_date - DateTime.now.to_date).to_i %></br></td>
        </tr>
      <% end %>

  <% end %>
    </table>
</p>


<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>


