<p id="notice"><%= notice %></p>

<p>
  <strong>Patient name:</strong>
  <%= @patient.patient_name %>
</p>

<p>
  <strong>Address name:</strong>
  <%= @patient.address_name %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>

<p>
  <strong><br/><u>Appointments</u>:</strong><br/>
  <% @patient.appointments.each do |appointment| %>

      <tr>
        <td><b><%= appointment.specialist.name %></b></td>
        <td><%= appointment.appointment_date %></td>
      </tr>
      <br/>


  <% end %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
